<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th colspan="3" scope="col" class="px-6 py-3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order.line_items.each do |order| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <td class="px-6 py-4"><%= order.item %></td>
        <td class="px-6 py-4"><%= order.quantity %></td>
        <td class="px-6 py-4"><%= order.gift_wrap_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
